API_ID=34848798
API_HASH=210df233d07183ee955143092259dabb
BOT_TOKEN=8713743302:AAEcHql2nKGgEnoGsqHUFtRxtS0sIGtKK5w
LOGGER_ID=-1003877525072
OWNER_ID=6271039736

MONGO_URL=mongodb+srv://vvyywwj_db_user:Eb0twDcTGsgjvOXT@cluster0.rffjjen.mongodb.net/?retryWrites=true&w=majority&appName=AnonXMusic

SESSION1=BQITwB4AdCUU0-BNSb2aUa8gHvvtlWsFiX5THJRDvFCh1M0-_0383seECU7ge58xOusZMB06TLBOXMLEhdHD_YNHSu4N4qd-bXIx5eWJTTBAbiQGxCRWZAL-t2N3ETih5JeV_PfRrb5e9aqSyByJNqusfnYbC_6-Ao7gi89_XPVUElb-Y2T26HVBLjzsVOKCL7_ZJ969LZXb5HDEDoDC7qRrojpS5TH7KIW9d9dytoPPv1Q7CDYBadWULMqsMCZmfFjiplxXgXI72o-e7ZMd70xLQM1TZTld17kUiPP-XkF8vTuK7id6Yt89bYSimxvnw_AXQTBjsWTY7L2LNI98PHFkWLIs9QAAAAGqkXGbAA
